<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" type='text/css' href="{% static 'Subjects/styles.css' %}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/dark.css">
    <link rel="shortcut icon" type="image/png" href="{% static 'Subjects/favicon.ico' %}"/>
    <title>UniChat</title>
</head>
<body onload='populate()'>
    <h1 class='logo' onclick='window.location = "https://unsw.unichat.cloud"'>UNSW UniChat</h1> <hr>
    <h1>Dashboard</h1>
    <h3>Chat Information</h3>
    <b>Your chat is now live on UniChat!</b> <p>Check back to this page every so often to see a list of users who have requested to join your chat.</p>
    <table>
        <thead>
            <tr>
                <th>Information</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Course:</td> 
                <td>{{info.course}}</td>
            </tr>
            <tr>
                <td>Period:</td> 
                <td>{{info.period}}</td>
            </tr>
            <tr>
                <td>Chat Name:</td> 
                <td>{{info.name}}</td>
            </tr>
        </tbody>
    </table>

    <h3>Pending Requests</h3>
    <table>
        <thead>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Facebook Profile</th>
            <th>Add</th>
        </thead>
        <tbody>
            {% if requesters %}
                {% for req in requesters %}
                <tr>
                    <td>{{req.first}}</td>
                    <td>{{req.last}}</td>
                    <td><a href='{{req.link}}' target="_blank">link</a></td>
                    <td>
                        <form method="POST">{% csrf_token %}
                            <input value="add" name="data" style="display:none">
                            <input value='{{ req.id }}' name="id" style="display:none">
                            <button style='height: 30px; padding: 5px; padding-left: 10px; padding-right: 10px'>Mark as Added</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            {% else %}
                <td>No requesters pending.</td>
            {% endif %}
        </tbody>
    </table>

    <h3>Accepted Requests</h3>
    <table>
        <thead>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Facebook Profile</th>
            <th>Add</th>
        </thead>
        <tbody>
            {% if done %}
                {% for req in done %}
                <tr>
                    <td>{{req.first}}</td>
                    <td>{{req.last}}</td>
                    <td><a href='{{req.link}}' target="_blank">link</a></td>
                    <td>
                        <form method="POST">{% csrf_token %}
                            <input value="add" name="data" style="display:none">
                            <input value='{{ req.id }}' name="id" style="display:none">
                            <button style='height: 30px; padding: 5px; padding-left: 10px; padding-right: 10px'>Un-mark as Added</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            {% else %}
                <td>No requesters accepted.</td>
            {% endif %}  
        </tbody>
    </table>

    <br><br> <a href='https://unsw.unichat.cloud/help'>I need help!!</a>
</body>
</html>