<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" type='text/css' href="{% static 'Subjects/styles.css' %}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/dark.css">
    <title>UniChat</title>
</head>
<body>
    <h1 class='logo' onclick='window.location = "https://unsw.unichat.cloud"'>UNSW UniChat</h1> <hr>    
    <h1>UniChat Help!</h1>
    <p>If you require help in using UniChat, have found a bug, have a feature request, or are interested in getting involved with UniChat, please
        email <a href='mailto:samuelgresham12@gmail.com'>samuelgresham12@gmail.com</a> :)
    </p>
    <h3>Videos</h3>
    <h4>Finding a Group Chat</h4> 
    <iframe width="560" height="315" src="https://www.youtube.com/embed/whRIReY-A9U" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> <br><hr>
    <h4>Adding a Messenger Group Chat</h4>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/Svkj_d3KOm8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/q2pU06JQ2Vs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><br><hr>
    <h4>Adding another Chat (e.g. Discord Server)</h4>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/v6HzFJds_BY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><br><hr>
</body>
</html>