<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" type='text/css' href="{% static 'Subjects/styles.css' %}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/dark.css">
    <title>UniChat</title>
</head>
<body onload='populate()'>
    <h1>Messenger Publish Success!</h1>
    <p><b>Good News!</b> Your messenger group chat has now been published to <b>UniChats</b>.</p>
    <h3>The Next Steps</h3>
    <ol>
    <li>Students will now be able to see your groupchat when they search for their courses in <b>UniChats</b>. If they are interested
        in joining your groupchat, they will request access.</li> <br>
    <li>You will then be able to view their requests and add them manually to the groupchat at the URL below. </li> <br>
    <li>Check back to the link below at your convinience to add people to the groupchat.</li>
</ol> <hr>
<div style='text-align: center; font-size: 20pt;'>
    Your dashboard link: <br>
    <a href="http://unsw.unichat.cloud/dashboard/{{id}}">http://unsw.unichat.cloud/dashboard/{{id}}</a>
</div> <hr> <br> 
</body>
</html>