<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" type='text/css' href="{% static 'Subjects/styles.css' %}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/dark.css">
    <link rel="shortcut icon" type="image/png" href="{% static 'Subjects/favicon.ico' %}"/>
    <title>UniChat</title>
</head>
<body>
    <h1 class='logo' onclick='window.location = "https://unsw.unichat.cloud"'>UNSW UniChat</h1> <hr>    <h1>Publish your Groupchat to UniChat</h1>
    <p>Want to upload the link to your groupchat on UniChat and take the stress out of adding users to your groupchat?</p>
    <b>To get started, select the option which applies to you below:</b> <br><br>

    <button class='homebutton' onclick='window.location = "messenger"'>I run a <b>Messenger</b> group chat.</button>
    <button class='homebutton' onclick='window.location = "other"'>I run another sort of group chat where I can provide a sharable link.</button>
    <br><br> <a href='https://unsw.unichat.cloud/help'>I need help!!</a>
</body>
</html>